html {
  scroll-behavior: smooth;
}
.typewriter h1 {
  width: auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  text-align: center;
  justify-content: center;
  animation: 
    typing 3s steps(50, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.skillsPool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.skillCard {
  margin: 1% 2%;
  max-width: 200px;
  min-width: 200px;
}

.skillCard:hover {
  color: white;
  background-color: rgba(0,0,0,0.7);
}

.projectCard {
  margin: 5% 5% 25% 5%;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
}


.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

.dividerImage {
  background-repeat:no-repeat;
  background-color: black;
  width: 100%;
  z-index: -1; 
  background-size: 100%;
  background-attachment: fixed;
}
#dividerImage1 {
  background-image: url("./html-code.jpg");
}

#dividerImage2 {
  background-image: url("./rotaryInteract.jpg");
}

#dividerImage3 {
  background-image: url("./chicago-skyline.jpg");
}

body {
  background-color: black;
}

.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  /*background-color: #64C7CC;*/
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

#mcyaf-project-card {
  background-image: url('./mcyaf_logo.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #582e82;
}

.projectCard:hover .overlay {
  opacity: 0.75;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}