body  {
	background-color: #80d6ff;
	font-size: 0.4;
}

.resume {
	align-self: center;
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-top: 25px;
	background-color: #eeeeee;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
h3 { 
	font-size: 2em;
 }


 .titleBar  {
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
 	margin-left: 100px;
	margin-right: 100px;
 	padding-left: 100px;
 	padding-right: 100px;
 	font-size: 20px;
 	background-color: #42a5f5;
 	display: flex;
 }

 .titleName {
 	display: flex;
 	width: 75%;
 	/*background-color: red;*/
 	padding: 20px;
 }

 .subtitle  {
 	font-size: 0.6em;
 	font-style: italic;
 }
 .social {
 	width: 25%;
 	vertical-align: middle;
 	padding-top: 30px;
 	/*background-color: green;*/
 	font-size: 0.75em;
 	text-align: left;
 }


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #80d6ff;
    transition: 0.3s;
    font-size: 1.2em;
    text-align: left;
    margin: 5% 0% 5% 10%;
    margin-left: 0;
    height: auto;
    padding: 10px;
    max-width: 700px;
}

.card img {
	margin: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#experience, #education {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}
.horizontalCard  {
	width: 75%;
	height: 1px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #80d6ff;
    transition: 0.3s;
    font-size: 1.2em;
    text-align: center;
    margin: 5px;
    height: auto;
    padding: 10px;
    text-overflow: hide;
}

.horizontalCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: auto;
}
/* Add some padding inside the card container */
.container {
    padding: 5% 5%;
}

.divisor {
	background-color: #42a5f5;
	height: 10px;
	width: 100px;
	border-radius: 50px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	padding-left: 10px;
}
.aboutText {
	grid-area: 'abouttext';
	background-color: blue;
}

.photo {
	grid-area: 'photo';
	background-color: red;
}
.aboutGrid  {
	display: 'grid';
	grid-template-areas: 
	'photo photo abouttext'
	'abouttext abouttext abouttext';
}



#headshot {
	width: 100px;
	justify-content: left;
	align-content: left;
}
#headshot img {
	width: auto;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	width: 1px;
	margin: 5%;
	float: left;

}

#skills,  #projects {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.verticalCard  {
	width: 200px;
	height: auto;
	text-align: center;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #80d6ff;
    transition: 0.3s;
    font-size: 1.2em;
    text-align: center;
    margin: 2%;
    height: auto;
    padding: 10px;
}

.verticalCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.verticalCardBody, .horizontalCardBody  {
	text-align: left;
}