html {
  /*scroll-behavior: smooth;*/
}

/*body {
width: 100%;
background-color: #cccccc;
margin: 0 auto !important;
padding: 0;
-webkit-font-smoothing: antialiased;
font-family: Arial, Helvetica, sans-serif;
}*/

header {
  width: 100%;
}
w3-container {
  margin-right: 0;
}
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif
}



.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif
}

.fa-anchor,.fa-coffee {
  font-size:200px
}


.typewriter h1 {
  width: auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  text-align: center;
  justify-content: center;
  animation: 
    typing 3s steps(50, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.skillsPool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.skillCard {
  margin: 1% 2%;
  width: 150px;
  height: 150px;
  vertical-align: center;
}

.skillCard:hover {
  color: white;
  background-color: rgba(0,0,0,0.7);
}

.project-card-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;

}
.projectCard {
  /*margin: 5% 5% 25% 5%;*/
  width: 300px;
  height: 300px;
  /*height: 300px;*/
 /* max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;*/
}

.projectCard:hover {
  /*width: 400px;
  height: 400px;*/
  /*flex-grow: 1;*/
}

.projectCard .project-stack {
  visibility: hidden;
}

.projectCard:hover .project-stack {
  visibility: visible;
}


.projectCardFocused {
   order: -2;
   width: 500px;
   height: 500px;
   margin-bottom: 20px;
   margin-right: 20px;
}


@media only screen and (max-width: 780px) {
  .projectCardFocused {
    order: -2;
   width: 300px;
   height: 300px;
   margin-bottom: 50px;
   margin-right: 10px;
  }

  #dynamic-project-data-card  {
  box-shadow: 0;
  text-align: left;
  padding-top: 0;
  margin-bottom: 10%;
  }
}

@media only screen and (max-width: 700px) {
   .projectCard {
    height: 200px;
    width: 200px;
    font-size: 25px;
  }
  .skillCard {
  margin: 1% 2%;
  width: 150px;
  height: 150px;
  font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .projectCard {
    height: 150px;
    width: 150px;
    font-size: 20px;
  }
   #dynamic-project-data-card  {
    box-shadow: 0;
    text-align: left;
    padding-top: 0;
/*    padding-bottom: 100px;
    margin-bottom: 20%;*/
    position: relative;
    flex-grow: 1
  }

   .skillCard {
    margin: 1% 2%;
    width: 100px;
    height: 100px;
    padding: 2%;
  }

   .skillCard h3{
    font-size: 15px;
  }
}




#dynamic-project-data-card  {
  box-shadow: 0;
  text-align: left;
  justify-content: center;
  word-wrap: normal;

}

.projectDataCardInactive {
   height: 0px;
   width: 0px;
   visibility: hidden;
}
#dynamic-project-data-card h2 {
  box-shadow: 0;
  text-align: center;
}

#dynamic-project-data-card h4 {
  box-shadow: 0;
  text-align: center;
  align-self: center;
  align-content: center;
}

.projectDataCardActive {
  order: -1;
  width: 300px;
  height: 500px;
  visibility: visible;
}


.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

.dividerImage {
  background-repeat:no-repeat;
  background-color: black;
  width: 100%;
  z-index: -1; 
  background-size: 100%;
  background-attachment: fixed;
}

#dividerImage0 {
  background-image: url('../assets/work-harder.jpg');
}
#dividerImage1 {
  background-image: url("../assets/html-code.jpg");
}

#dividerImage2 {
  background-image: url("../assets/rotaryInteract.jpg");
}

#dividerImage3 {
  background-image: url("../assets/chicago-skyline.jpg");
}


body {
  background-color: black;
}



.projectCard {
  background-repeat: no-repeat;
  background-position: center;
  background-image-size: 100%;
}
#mcyaf-project-card {
  background-image: url('../assets/mcyaf_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #582e82;
}

#owe-knowe-project-card  {
  background-image: url('../assets/oweKnowe.PNG');
}
#advanced-minecraft-project-card  {
  background-image: url('../assets/minecraft.jpg')
}

#alien-ruins-project-card  {
  background-image: url('../assets/alienRuins2.PNG');
/*  background-image: url('../assets/tshirt-cannon-bot.jpg');*/
}

#facedetection-project-card {
  background-image: url('../assets/facebrain.png');
}

.projectCard:hover .overlay {
  opacity: 0.75;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*.tech-skill-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}*/

.tech-skill-tag {
  border-radius: 40%;
  display: inline-block;
  margin: 1% 2%;
  background-color: black;
  color: white;
  padding: 1.5%;
  font-size: 0.75em;
}

.other-skill-space {
  font-size: 0.80em;
}