#modal {
	display: none;
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
}

canvas {
	border-radius: 22px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
}
canvas:active {
	border-color: blue;
}