@font-face{
font-family: OpenSans-Bold;
src: url('OpenSans-Bold.ttf'), url('reef-webfont.woff') format('ttf');
}

@font-face{
font-family: OpenSans-Regular;
src: url('OpenSans-Regular.ttf'), url('reef-webfont.woff') format('ttf');
}

body {
	background-color: rgb(243,250,254);
	font-family: "OpenSans-Regular";
	font-weight: normal;
	padding-top: 100px;
}

.main {
	max-width: 500px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	/*/align-content: center;*/
	padding: 20px 20px 40px 20px;
	border-radius: 5%;
	/*box-shadow: 5px 5px rgba(0,0,0,0.3);*/
}

.main-content {
	margin: 0 auto;
	/*width: 100%;*/
	/*margin: auto;*/
	width: 500px;
	height: auto; 

}
#cps-sports-logo {
	display: block;
	max-width: 328px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.browse-for-file-container {
	display: block;
	background-color: white;
	color: rgb(117, 117, 117);
	text-align: right;
	border-color: rgb(206, 206, 206);
	border-radius: 33px;
	border-width: 1px;
	border-style: solid;
	box-shadow: inset 0px 0px 4px 3px rgba(0,0,0,0.45);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	max-width: 318px;/*430px;*/
	padding: 4px;
	font-size: 15px;
	
}

#faux-file-upload-btn {
	font-family: "OpenSans-Bold";
	min-width: 125px;
	position: inherit;
	margin-left:auto; 
	font-size: 14px;
	margin-right:0;
	align-self: flex-end;
	background-color:blue;
	border-radius: 22px;
	/*height: 100%;*/
	min-height: 36px;
	padding: 1px 12px 1px 12px;
	text-decoration: none;
	border-style: none;
	border-color: white;
	border-width: 2px;
	color: white;
	background-color:rgb(0,42,92);
}

#faux-file-upload-btn:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,42,92);
	color: rgb(0,42,92);
	padding: 3px 12px 3px 12px;
	background-color: white;
}

#filename  {
	/*max-width: 132px;
	text-align: left;
	margin-right: 10%;
	margin-left: 0;
	text-overflow: ellipsis;*/
	/*height: 32.4px;*/
/*	padding-bottom: 12px;*/
	vertical-align: middle;
	bottom: 5px;
	text-align: left;
	margin-right: 1%;
	margin-left: 0;
	display: inline-block;
  	text-overflow: ellipsis;
  	width: 150px;
  	white-space: nowrap;
  	overflow: hidden;
}

#generate-csv-btn {
	font-family: "OpenSans-Bold";
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	min-width: 328px; /* 410 510*/
	min-height: 36px;
	position: inherit;
	font-size: 14px;
	align-self: flex-end;
	background-color:rgb(0,42,92);
	border-radius: 33px;
	padding: 1px 12px 1px 12px;
	text-decoration: none;
	border-style: none;
	color: white;
}

#generate-csv-btn:disabled {
	color: rgb(206, 206, 206);
	border-color: rgb(206, 206, 206);
	border-width: 1.5px;
	border-style: solid;
	background-color: white;
}

#generate-csv-btn:enabled:hover {
	border-style: solid;
	border-color: rgb(0,42,92);
	color: rgb(0,42,92);
	background-color: white;
}

#instructions {
	color: #313131;
	max-width: 328px;
	display: block;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	justify-content: center;
}