/*
	Stylesheet for the Badge Issuer Application
	About: CSS Selectors are ordered (roughly) to 
	map with how the elements appear on the screen
	in vertical order

	Created By: Joseph Varilla
	Last Edited: 5/15/2019
*/

/* Custom Downloaded Fonts Linked To .ttf files in assets*/
@font-face {
	font-family: OpenSans-Bold;
	src: url('./assets/OpenSans-Bold.ttf'), url('reef-webfont.woff') format('ttf');
}

@font-face{
	font-family: OpenSans-Regular;
	src: url('./assets/OpenSans-Regular.ttf'), url('reef-webfont.woff') format('ttf');
}

body {
	/* Light Blue */
	background-color: rgb(243,250,254);
	font-family: "OpenSans-Regular";
	font-weight: normal;
	padding-top: 100px;
}

/* The white box in the center of the screen */
.main {
	max-width: 500px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 40px 20px;	
}

/* A sub div within the white box that contains the contents */
.main-content {
	margin: 0 auto;
	width: 500px;
	height: auto; 

}

/*The cps sports logo img */
#cps-sports-logo {
	display: block;
	max-width: 328px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}


/* A sub div that contains only the "Get Template Sheet Button" */
#btnTemplateContainer {
	padding-left: 35%;
}

/* Blue button in the center 
	that says "Get Template Sheet" */
#getTemplateBtn {
	font-family: "OpenSans-Bold";
	min-width: 125px;
	margin-left:auto; 
	font-size: 14px;
	margin-right:0;
	background-color:blue;
	border-radius: 22px;
	min-height: 36px;
	padding: 1px 12px 1px 12px;
	text-decoration: none;
	border-style: none;
	border-color: white;
	border-width: 2px;
	color: white;
	background-color:rgb(0,42,92);
}


/* Makes the "BROWSE" and "Get Template Sheet" buttons
	white on hover */
#faux-file-upload-btn:hover, #getTemplateBtn:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,42,92);
	color: rgb(0,42,92);
	padding: 3px 12px 3px 12px;
	background-color: white;
}

/* The blue oval button that says
	 "BROWSE" */
#faux-file-upload-btn{
	font-family: "OpenSans-Bold";
	min-width: 125px;
	position: inherit;
	margin-left:auto; 
	font-size: 14px;
	margin-right:0;
	align-self: flex-end;
	background-color:blue;
	border-radius: 22px;
	min-height: 36px;
	padding: 1px 12px 1px 12px;
	text-decoration: none;
	border-style: none;
	border-color: white;
	border-width: 2px;
	color: white;
	background-color:rgb(0,42,92);
}

/* The oval containing the browse for file button
	and the text that displays "no file selected" */
.browse-for-file-container {
	display: block;
	background-color: white;
	color: rgb(117, 117, 117);
	text-align: right;
	border-color: rgb(206, 206, 206);
	border-radius: 33px;
	border-width: 1px;
	border-style: solid;
	box-shadow: inset 0px 0px 4px 3px rgba(0,0,0,0.45);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	max-width: 318px;
	padding: 4px;
	font-size: 15px;
	
}

/* Inside of the dark gray oval that displays "No File Selected"
	or the name of the file uploaded */
#filename  {
	vertical-align: middle;
	bottom: 5px;
	text-align: left;
	margin-right: 1%;
	margin-left: 0;
	display: inline-block;
  	text-overflow: ellipsis;
  	width: 150px;
  	white-space: nowrap;
  	overflow: hidden;
}

/* The bottom button that says "Generate Badge CSV" */
#generate-csv-btn {
	font-family: "OpenSans-Bold";
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	min-width: 328px;
	min-height: 36px;
	position: inherit;
	font-size: 14px;
	align-self: flex-end;
	background-color:rgb(0,42,92);
	border-radius: 33px;
	padding: 1px 12px 1px 12px;
	text-decoration: none;
	border-style: none;
	color: white;
}

#generate-csv-btn:disabled {
	color: rgb(206, 206, 206);
	border-color: rgb(206, 206, 206);
	border-width: 1.5px;
	border-style: solid;
	background-color: white;
}

#generate-csv-btn:enabled:hover {
	border-style: solid;
	border-color: rgb(0,42,92);
	color: rgb(0,42,92);
	background-color: white;
}

/* Instructions at the bottom of the screen */
#instructions {
	color: #313131;
	max-width: 328px;
	display: block;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	justify-content: center;
}