body {
	background-color: rgb(243,250,254);
}

.main {
	max-width: 700px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	/*/align-content: center;*/
	padding: 20px;
	border-radius: 5%;
	/*box-shadow: 5px 5px rgba(0,0,0,0.3);*/
}

.main-content {
	margin: 0 auto;
	/*width: 100%;*/
	/*margin: auto;*/
	width: 500px;
	height: auto; 

}
#cps-sports-logo {
	display: block;
	max-width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.browse-for-file-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: rgb(206, 206, 206);
	border-radius: 22px;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	max-width: 200px;
	height: auto;
/*	padding: 5px;*/
	/*padding: 2px 0px 2px 0px;*/
	align-self: center;
}

#faux-file-upload-btn {
	float: right;
	background-color:blue;
	border-radius: 22px;
	text-decoration: none;
	border-style: none;
	color: white;
	margin:0;
	padding: 4px;
	background-color: #0d6ca2/*#0b679d*/; /*Dark Blue*/
}

